$mainfont: Arial Narrow, sans-serif;
$maincolor: white;
$mainfontsize: 18px;

@mixin fonts {
    font-family: $mainfont;
    font-size: $mainfontsize;
    color: $maincolor;
    
}

.labels {
    font-family: $mainfont;
}
.topstuff {
    font-family: $mainfont;
}

.leftbox {
    @include fonts();
}

.rightbox {
    @include fonts();
}

