$mainfont: Arial, Helvetica, sans-serif;


@mixin fonts {
    font-family: $mainfont;
    font-size: 12px;
    color: rgb(83, 83, 83);
    
}

.labels {
    font-family: $mainfont;
}
.topstuff {
    font-family: $mainfont;
}

.leftbox {
    @include fonts();
}

.rightbox {
    @include fonts();
}

