
.topstuff {    
    background-color: lightblue;
    .photo {
        display: relative;
        left: 100px;
        height: 200px;
        width: 200px;
        border-radius: 100%;
    background-color: green;
    }
    h1 {
        display: inline;
    }
}




.leftbox {
    margin-left: 50px;
    display: inline-flex;
    flex-direction: column;
    width: 300px;
}

.rightbox {
    background-color: rgb(219, 219, 219);
    display: inline-flex;
    flex-direction: column;
}
